@page
@model EntAppSecond.Pages.FormExample1Model
@{
    ViewData["Title"] = "FormExample1";
}

<h2>Form Example 1</h2>

@*Lifted from the Bootstrap page*@
<form method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for=Email></label>
        <input  class="form-control" asp-for=Email placeholder="Email">
    </div>
    <div class="form-group">
        <label asp-for=Password></label>
        <input  class="form-control" asp-for=Password placeholder="Password">
        <p class="help-block">Example block-level help text here.</p>
    </div>

    <div class="checkbox">
        <label>
            <input asp-for=HasConsented> I consent to everything
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>